<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
 <title>Document</title>
</head>
<body>
 <!-- bootstrap lessons for today -->
  <div class="container">
  <div class="bg-primary row">
    <div class="col bg-primary">
      1 of 3
    </div>
    <div class="col-6 bg-secondary">
      2 of 3 (wider)
    </div>
    <div class="col bg-primary">
      3 of 3
    </div>
  </div>
  <div class="row bg-primary">
    <div class="col g-secondary">
      1 of 3
    </div>
    <div class="col-5 bg-secondary">
      2 of 3 (wider)
    </div>
    <div class="col bg-secondary">
      3 of 3
    </div>
  </div>
</div>
<!-- grid lesson for tonight -->
<!-- <div class="container">
  <div class="row">
    <div class="col-sm">
      first of the three columns
    </div>
    <div class="col-sm">
      second of the three columns
    </div>
    <div class="col-sm">
      Third of the three columns
    </div>
  </div>
</div> -->
  <!-- Content here -->
   <!-- a test of responsiveness of each container -->
    <br>
    <div class="container-xs bg-primary">100% wide untill xsmall breakpoint</div>
    <div class="container-sm bg-primary">100% wide untill small breakpoint</div>
    <div class="container-md bg-secondary">100% wide untill medium breakpoint</div>
    <div class="container-lg bg-primary">100% wide untill large breakpoint</div>
    <div class="container-xl bg-secondary">100% wide untill extra large breakpoint</div>
    <div class="container-xxl bg-primary">100% wide untill extra extra large breakpoint</div>
</div>
<!-- grid content -->
 <br>
 <div class="container bg-secondary">
  <div class="row">
    <div class="col-sm-6 bg-danger">
      One of three columns
    </div>
    <div class="col-sm-4 bg-primary">
      One of three columns
    </div>
    <div class="col-sm-2">
      One of three columns
    </div>
  </div>
</div>
<!-- another example where grid of two ros are arranged -->
<br> 
<div class="container bg-secondary">
  <div class="row">
    <div class="col">Column 1</div>
    <div class="col">Column 2</div>
    <!-- this makes the next column starts in a new line -->
    <div class="w-100"></div>
    <div class="col">Column 3</div>
    <div class="col">Column 4</div>
  </div>
 </div>
 <!-- col-{breakpoint}-auto i.e sizing container according to its content-->
  <br>
  <div class="container bg-secondary">
    <div class="row justify-content-md-center">
      <div class="bg-danger col col-md-2">
        1 of 3
      </div>
      <div class="bg-white col col-md-auto">
        variable width content 1
      </div>
      <div class="bg-primary col col-md-2">
        3 of 3
      </div>
    </div>
    <!-- next row -->
     <div class="row justify-content-md-center">
      <div class="bg-primary col col-md-2">
        1 of 3
      </div>
      <div class="bg-danger col col-md-auto">
        Variable width content 2
      </div>
      <div class="bg-primary col col-md-2">
        3 of 3
      </div>
     </div>
  </div>
  <br>
  <!-- another lesson to note -->
   <!-- stack the column on mobile by making one ful-width and the other half-width -->
  <div class="row bg-secondary">
    <div class="col-12 col-md-8 bg-danger">.col-12 .col-md-8</div>
    <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
  </div>
  <br>
  <!-- watch this reactions for a better understanding: lessons below are... beyond small screen size, they are in one column i.e 8 and 4 sizes -->
   <div class="row h-75 bg-secondary">
    <div class="col-sm-8 bg-danger">col-sm-8</div>
    <div class="col-sm-4 bg-primary">col-sm-4</div>
   </div>
   <br>
  <!-- they are stacked of col. each 6 below medium screen size-->
   <div class="row bg-secondary">
    <div class="col-6 col-md-4 bg-danger">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4 bg-white">.col-6 .col-md-4</div>
    <div class="col-6 col-md-4 bg-primary">.col-6 .col-md-4</div>
   </div>
   <!-- aignment of grids -->
    <div class="container w-75 bg-danger">
      <!-- first row -->
      <div class="row bg-light align-items-start">
        <div class="col bg-primary">One of the three columns 1</div>
        <div class="col bg-secondary">One of the three columns 1</div>
        <div class="col bg-danger">One of the three columns 1</div>
      </div>
      <!-- second row -->
      <div class="row bg-info align-items-center">
        <div class="col">One of the three columns 2</div>
        <div class="col">One of the three columns 2</div>
        <div class="col">One of the three columns 2</div>
      </div>
      <!-- third row -->
       <div class="row bg-success align-items-sm-center justify-content-sm-center" style="height: 500px;">
        <div class="col-3 h-25 bg-danger">hello everyone</div>
       </div>
    </div>
</body>
</html>
